.container {
    top: 0;
    width: 80%;
    border: #8f0606 1px solid;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    margin: 0;
    justify-content: flex-end;
    align-self: center;
}

.dark {
    top: 0;
    width: 100%;
    border: #8f0606 1px solid;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    background: black;
    gap: 10px;
}
