.container {
  position: fixed;
  top: 0;
  width: 100%;
  border: #8f0606 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
}


.dark {
  position: fixed;
  top: 0;
  width: 100%;
  border: #8f0606 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  background: black;
}
